.message{background-color: transparent;}

.message-header{
  background-color: #FECD23;
  color: #1D2037;
}
.message-body{
  border: 2px solid #FECD23 !important;
  background-color: #fff;
}


.teams-section{
  background-color: #1D2037;
}


.teams-section h2{
  color: #fff;
}
